HertfordshireMercury/HertfordshireMercury.Android/obj/.cache/com.roberteves.bsindie.android.flag
HertfordshireMercury/HertfordshireMercury.Android/bin/
HertfordshireMercury/HertfordshireMercury.Android/obj/
HertfordshireMercury/HertfordshireMercury.iOS/obj/
